.banner {
    display: flex;
    position: relative;
    padding: 15px 50px 0px 50px;
}

.banner img {
    border-radius: 3px;
    box-shadow: 0px 2px 2px#706b64;
}

.button-article {
    background-image: url(../images/fond_degraderouge.png);
    padding: 5px 8px 5px 8px;
    border-radius: 4px;
}

.dark {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 2px;
    height: 40px;
    width: 949px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0px 6px;
}