footer h2 {
    font-size: 18px;
    line-height: 0;
    padding-bottom: 15px;
}

.tweet p{
    padding-top: 10px;
}

.pictures-container {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    gap: 8px;
}

.pictures-container img {
    box-shadow: 0px 0px 1px 1px black;
}

.friends {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pictures {
    width: auto;
}

.tweet {
    width: 33%;
}

li {
    list-style: url(../images/ico_liensexterne.png);
    color: #840400;
    padding-bottom: 2px;
    list-style-position: inside;
}

.table {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

ul {
    padding-top: 5px;
}
