.container-logo-title {
    display: flex;
    position: relative;
    justify-content: center;
    height: 110px;
    padding-bottom: 20px;
}

.logo-title {
    display: flex;
    position: relative;
    height: 65px;
    width: 150px;
    padding-bottom: 40px;
}

.logo-title img {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.title-name {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: ballpark;
    line-height: 0.2;
    font-size: 40px;
    color: black;
}

.site-title {
    font-family: dayrom;
    font-size: 20px;
    font-weight:normal;
    position: absolute;
    bottom: 0;
    padding: 5px 0px 20px 0px;
}

.menu-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 33px;
    padding-bottom: 20px;
}

.menu-container :first-child {
    color: #840400;
    text-decoration: underline 3px;
}

.menu {
    font-family: dayrom;
    font-weight: normal;
    font-size: 22px;
}