section {
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
}

.bubble {
    margin-top: 140px;
}

.ico-top {
    position: absolute;
    margin-top: 510px;
    margin-left: 455px;
}