.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: justify;
    width: 100%;
    margin-right: 2px;
}

.text-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-title h1 {
    margin-left: 5px;
}

.text p{
    margin-top: 15px;
}

span {
    color: #840400;
    text-decoration: underline;
}