.container-logo-title {
    display: flex;
    position: relative;
    height: 113px;
    left: 10px;
    top: 7px;
}

.logo-title {
    display: flex;
    position: relative;
    height: 65px;
    width: 350px;
    padding-bottom: 40px;
}

.logo-title img {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 95px;
    width: 101px;
}

.title-name {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 115px;
    font-family: Poppins;
    line-height: 32px;
    font-size: 32px;
    letter-spacing: -1%;
}

.menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    padding-right: 70px;
}

.menu {
    font-family: Inter;
    font-size: 16px;
}

.cart-button{
    color: #FFFFFF;
    font-weight: 600;
    background: #B93605;
    padding: 13px 32px;
    border-radius: 8px;
}