section {
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: row;
}

.title-container {
    display: flex;
    width: 20%;
}

.text-container {
    width: 50%;
}

.api-container {
    width: 30%;
}