@font-face {
    font-family: "Inter";
    src: url(/fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(/fonts/Poppins-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #000F18;
    font-family: Inter;
    font-size: 14px;
    color: #B5ACA9;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

header {
    color: #B83503;
}

nav,
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: normal;
}

h2{
    font-weight: normal;
    padding-top: 15px;
}

.separator {
    height: 3px;
    background-image: url(/images/separateur.png);
    background-repeat: repeat-x;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer {
    padding: 0px 50px 25px 50px;
}